@model ClinicProject.Models.Doctor

@{
    ViewData["Title"] = "DoctorDetails";
    Layout = "~/Views/Shared/_Layout_Owner.cshtml";
}

<h2>Details of <span style="color:red">Dr: @Model.Doctor_FirstName @Model.Doctor_LastName</span></h2>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>loay</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>


            <tr>
                <td>@Html.DisplayNameFor(model => model.Doctor_FirstName)</td>
                <td>@Html.DisplayFor(model => model.Doctor_FirstName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Doctor_LastName)</td>
                <td>@Html.DisplayFor(model => model.Doctor_LastName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Doctor_UserName)</td>
                <td>@Html.DisplayFor(model => model.Doctor_UserName)</td>
            </tr>
           
            <tr>
                <td>@Html.DisplayNameFor(model => model.Doctor_Email)</td>
                <td>@Html.DisplayFor(model => model.Doctor_Email)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Doctor_PhoneNumber)</td>
                <td>@Html.DisplayFor(model => model.Doctor_PhoneNumber)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Doctor_ImageProfile)</td>
                <td>
                    <a href="~/uploads/@Model.Doctor_ImageProfile" target="_blank" class="aa-properties-item-img">
                        <img src="~/uploads/@Model.Doctor_ImageProfile" alt="img" style="max-width: 30%; height: auto;">
                    </a>
                </td>

            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Doctor_Certification)</td>
                <td>
                    <a href="~/uploads/@Model.Doctor_Certification" target="_blank" class="aa-properties-item-img">
                        <img src="~/uploads/@Model.Doctor_Certification" alt="img" style="max-width: 30%; height: auto;">
                    </a>
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Doctor_Age)</td>
                <td>@Html.DisplayFor(model => model.Doctor_Age)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Doctor_RegisterTime)</td>
                <td>@Html.DisplayFor(model => model.Doctor_RegisterTime)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Doctor_Gender)</td>
                <td>@Html.DisplayFor(model => model.Doctor_Gender)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Doctor_AppointmentType)</td>
                <td>@Html.DisplayFor(model => model.Doctor_AppointmentType)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Doctor_YearsOfExperience)</td>
                <td>@Html.DisplayFor(model => model.Doctor_YearsOfExperience)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Doctor_Specialization)</td>
                <td>@Html.DisplayFor(model => model.Doctor_Specialization)</td>
            </tr>
           


        </tbody>
    </table>
    <a asp-action="AllAcceptsDoctor" class="btn btn-outline-dark">Back</a>
</div>
